@model Controllers.person
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="jumbotron h3 text-center">
    صفحه اصلی
</div>


@*<form asp-action="SaveFileAsync" asp-controller="Home" asp-area="Admin" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="files" />
        <button type="submit">ذخیره</button>
    </form>*@
