

@using Microsoft.AspNetCore.Identity;

@inject SignInManager<Domains.Customer> signInManager
@inject UserManager<Domains.Customer> userManager

<header class="container-fluid">

    <nav class="navbar fixed-top navbar-dark bg-dark p-0" style="direction:ltr;">
        <div class="container-fluid">

            <ul class="nav navbar-nav pl-0 flex-row w-100 ">
                <li class="nav-item m-2">
                    <a class="nav-link" href="#">
                        <span class="cart-label align-self-center">
                            <span class="fa fa-shopping-cart"></span> سبد خرید
                        </span>

                    </a>
                </li>

                @if (!signInManager.IsSignedIn(User))
                {

                    <li class="nav-item m-2 "><a class="nav-link ico-register" href="/Admin/Account/Register"><i class="fa fa-user-plus align-self-center"></i>ثبت نام</a></li>
                    <li class="nav-item m-2"><a class="nav-link ico-login" href="/Account/LogIn"><i class="fa fa-user align-self-center"></i>ورود</a></li>
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Registred"))
                {
                    <li class="nav-item m-2"><a class="nav-link ico-login"><i class="fa fa-user align-self-center"></i>سلام: @userManager.GetUserName(User)</a></li>
                    <li class="nav-item m-2"><a class="nav-link ico-login" href="/Account/Logout"><i class="fa fa-user align-self-center"></i>خروج</a></li>

                }

                @if (!signInManager.IsSignedIn(User))
                {
                    <li class="nav-item m-2">
                        <a class="nav-link " href="/Admin/Account/RegisterSeller" style="margin-left:1000px">
                            <span class="cart-label align-self-center">
                                <span class="fa fa-shopping-cart"></span> ثبت نام به عنوان فروشنده
                            </span>
                        </a>
                    </li>
                    <li class="nav-item m-2"><a class="nav-link ico-login" href="/Account/LoginSeller"><i class="fa fa-user align-self-center"></i>ورود</a></li>
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Seller"))
                {
                    <li class="nav-item m-2"><a class="nav-link ico-login"><i class="fa fa-user align-self-center"></i>سلام: @userManager.GetUserName(User)</a></li>
                    <li class="nav-item m-2"><a class="nav-link ico-login" href="/Account/LogoutSeller"><i class="fa fa-user align-self-center"></i>خروج</a></li>

                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    
                    <li class="nav-item m-2"><a class="nav-link ico-login" href="/Account/LogoutAd"><i class="fa fa-user align-self-center"></i>خروج</a></li>

                }

            </ul>
        </div>
    </nav>

    <div class="row mb-1" style="margin-top:70px;">

        <div class="col-sm-2">
            <h4 class="mt-4">
                فروشگاه ردینگتون
            </h4>

        </div>
        <div class="col-sm-8 mt-4">
            <div class="input-group p-3">
                <input type="text" class="form-control search-box-text" id="searchProduct" autocomplete="off" name="q" placeholder="مشخصات کالا مورد نظر را وارد کنید">
                <button class="btn btn-success float-sm-right" onclick="ProductSearch()">
                    <span class="sr-only">جستجو کنید</span>
                    <span class="fa fa-search align-self-center"></span>
                    جستجو
                </button>
            </div>
        </div>
        <div class="col-sm-2 d-sm-block d-none">
            <img src="~/Images/images.jpg" style="height:100px;width:100px;float:left" />
        </div>
    </div>
    <div class="container p-3 my-3 bg-dark text-white" style="height:270px">
        <ul class="list-group">
            <li class="list-group-item active" style="background-color:#b20b0b;font-family:Tekton Pro Ext;text-align:left;font-size:20px">Reddington Movies</li>
            <li class="list-group-item" style="font-size:22px; color:black">خرید پستی انواع فیلم و سریال</li>
            <li class="list-group-item" style="font-size:22px; color:black">دانلود انواع فیلم و سریال</li>
        </ul>
        <div class="text-center initialism" style="">
            <span style="position:initial; font-size:35px" class="badge badge-pill badge-danger text-center m-4">ما را در دنیای مجازی دنبال کنید</span>
            <a style="cursor:pointer" href="https://www.instagram.com/red._.vahid/" target="_blank"><img src="~/Images/insta.jpeg" style="width:10%;height:60px" class="rounded-circle float-right m-2" alt="Cinque Terre"></a>
            <a style="cursor:pointer"><img src="~/Images/tel.png" style="width:10%;height:20%" class="rounded-circle float-left m-2" alt="Cinque Terre"></a>
        </div>

    </div>

    <nav class="navbar container-fluid navbar-expand-sm  bg-secondary navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="pl-3 nav-link" href="/Catalog/ProductList">صفحه اصلی<span class="sr-only"></span></a></li>
                @await Component.InvokeAsync("TopMenu")
            </ul>
        </div>
    </nav>

    <script>

        //window.onload = load()
        //function load() {
        //     location.href = '/Catalog/ProductList'
        //}


        function ProductSearch() {
            //var str = document.getElementById("searchProduct").value

            // AJX.post("/Catalog/searchproduct", { searchproduct: str }, function () {

            // })

            $.ajax({
                url: "/Catalog/ProductSearchName",
                dataType: "text",
                type: "Get",
                data: {

                    searchProduct: $('#searchProduct').val()
                }
                ,
                success: function (data, status, jqxhr) {
                    $("#divProduct").html(data);
                },
                error: function (jqxhr, status) {

                    alert("نشد");
                },
                beforeSend: function (jqxhr, setting) {
                    // location.href = '/Catalog/ProductList'

                },
                complete: function (jqxhr, status) {


                }

            });




        }

        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass("show");
            });


            return false;
        });


    </script>



</header>

