@model Models.ProductModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.Head.cshtml";
}

<div>
    <caption-view asp-title="مشاهده جزئیات محصول"></caption-view>
   

        @Html.Partial("_CreateorUpdate.cshtml", Model)




</div>

